		.font_logo
		{
			position: absolute;
    z-index: 2;
    top: -32px;
    left: 16px;
}
.navbar
{
	  box-shadow: 0px 1px 10px #999;

}
#logo
{
	transform: scale(0.7)
}
		.nav-item::after
		{
			content:'';
			display:block;
			width:0px;
			height:2px;
			background:#fec400;
			transition: 0.2s;
		}
		.nav-item:hover::after
		{
			width:100%;
		}
		nav-link:hover
		{
			color:#fec400;
		}
		.nav-link
		{
			padding:15px 10px;
			transition:0.2s;
			font-size:20px;
			color:black;
			font-family: 'Pacifico';
			padding-right:20px;
		}
		.dropdown-item.active, .dropdown-item:active
		{
			color:#212529;
		}
		.dropdown-item:focus, .dropdown-item:hover
		{
			background:#ffc107;
		}
		.bg
		{
			background: linear-gradient(to left, #d9a7c7, #eee1ef);
}
		}
		a.nav-link 
		{
			font-family: 'Fredoka One', cursive;
			padding-right: 10px;
			color:aliceblue;
		}
		a.nav-link:hover
		{
			color : #17a2b8;
		}
		.bg-w
		{
			background-color: white; 
			width: 100%;
		}
		.searchbar
		{
			margin-right: 190px;
		}
		.form-inline .form-control 
		{
    		display: inline-block;
    		width: 250px;
   		    vertical-align: middle;
		}
		.input100
		{
			 font-family: 'Lobster', cursive;
  			 font-size: 16px;
  			 color: #333333;
  			 line-height: 1.2;
  			 width: 250px;
  			 height: 50px;
  			
 			 background-color: white;
 			 border-radius:50px;
 			 background-size:15%;
 			 /*background-image: url('../images/search.png');*/
 			 background-repeat: no-repeat;
 			 background-position: 5,5;
  	
		}
		.input100:hover::after
		{
			width :100%;
		}
		.input100::after
		{
		    content: '';
		    display: block;
		    width: 0px;
		    height: 2px;
		    background: #fec400;
		    transition: 0.2s;
		}
		.focus-input100 
		{
				  position: absolute;
				  display: block;
				  width: 100%;
				  height: 100%;
				  top: 0;
				  left: 0;
				 
		}

		.focus-input100::after 
		{
			  content: attr(data-symbol);
			  font-family: Material-Design-Iconic-Font;
			  color::#fec400;
			  font-size: 22px;
			  display: flex;
			  align-items: center;
			  justify-content: center;
			  position: absolute;
			  height: calc(100% - 20px);
			  bottom: 0;
			  left: 0;
			  padding-left: 13px;
			  padding-top: 3px;

		}

		.focus-input100::before 
		{
			  content: "";
			  display: block;
			  position: absolute;
			  bottom: -2px;
			  left: 0;
			  width: 0;
			  height: 2px;
			  background: #7f7f7f;
			  transition: all 0.4s;
		}


		.input100:focus + .focus-input100::before 
		{
			  width: 100%;
		}

		.has-val.input100 + .focus-input100::before 
		{
			  width: 100%;
		}

		.input100:focus + .focus-input100::after 
		{
			  color: #a64bf4;
		}
			
		
