.button
{
  width:20%;
  left:20px;
}
.button-grp
{
  display:inline-flex;
  margin-left:19%;
  margin-top:2%;
}


#pen{
  text-align: center;
  width: 50px;
  height: 50px;
  opacity: 1;
  transition: opacity .4s ease;

  }
  
#penline {
  stroke-width: 3px;
  fill: #fff;
  stroke: #000;
  position:relative;
  z-index:1;
  -webkit-animation: strokes2 0.6s;
  }

#circle{
  -webkit-animation: disappear .25s;
  -webkit-transform-origin: center center;
  position: relative;
  z-index:-3;



}

#pen:hover #circle{
	fill-opacity: 1;
   -webkit-animation: appear .25s, colors 5s;
   -webkit-transform-origin: center center;     
}

#pen:hover #penline{
   stroke: #fff;
   fill-opacity: 0;
   -webkit-animation: strokes 0.6s;
}

/*animations*/
@-webkit-keyframes colors {
    0%   {fill: #cc0000;}
    30%   {fill: #cc0000;}
    40%  {fill: #0055bb;}
    70%  {fill: #0055bb;}
    80% {fill: #000000;}
    100% {fill: #000000;}
}

@-webkit-keyframes strokes {
    0%   {stroke-width: 3;fill-opacity: 1;stroke: #000;}
    20%  {stroke-width: 4;fill-opacity: 1;stroke: #000;}
    40% {stroke-width: 0;fill-opacity: 0;stroke: #000;}
    60% {stroke-width: 0;fill-opacity: 0;stroke: #fff;}
    80% {stroke-width: 4;fill-opacity: 0;stroke: #fff;}
    100% {stroke-width: 3;fill-opacity: 0;stroke: #fff;}
}

@-webkit-keyframes strokes2 {
    0%   {stroke-width: 3;fill-opacity: 0;stroke: #fff;}
    20%  {stroke-width: 4;fill-opacity: 0;stroke: #fff;}
    40% {stroke-width: 0;fill-opacity: 0;stroke: #fff;}
    60% {stroke-width: 0;fill-opacity: 0;stroke: #000;}
    80% {stroke-width: 4;fill-opacity: 1;stroke: #000;}
    100% {stroke-width: 3;fill-opacity: 1;stroke: #000;}
}

@-webkit-keyframes appear
{
	from	{ -webkit-transform: scale( 0 ); }
	75%		{ -webkit-transform: scale( 1.1 ); }
	to		{ -webkit-transform: scale( 1 ); }
}

@-webkit-keyframes disappear
{
	from	{ -webkit-transform: scale( 1 ); }
	25%		{ -webkit-transform: scale( 1.1 ); }
	to		{ -webkit-transform: scale( 0 ); }
}