*{
	margin: 0px;
	padding: :0px;
	box-sizing: border-box;
}
body{
	/*font-size: 20px;*/
	overflow-x: hidden;
	color:rgb(255,255,255);
	font-family: 'Flamenco', cursive;
}
header{
	/*background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../images/background_home.jpeg');
	height:100vh ;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	*/
	background-color: #fff;
	
}
a{
	text-decoration: none;
	color: #000;
}
.clearfix:after{
	content:".";
	visibility: hidden;
	display: block;
	height:0px;
	clear: both;
}


.row{
	max-width:1180px;
	margin: 0 auto;
}

.logo{
	height:120px;
	width:auto;
	float:left;
	margin-top: 20px;

}

.main-nav{
	font-size: 20px;
	float:right;
	margin-top: 60px;

}
.main-nav li{
	display: inline-block;
	list-style: none;
	margin-left: 40px;
}
.main-nav li a{
	padding: 5px 0px;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	font-weight: 100;


}

.main-nav li a:hover{
	border-bottom: 2px solid #bf55ec;
}

.main-content-header{
	font-size: 15px;
	font-style: bold;
	width:650px;
	position: absolute;
	top:40%;
	left:40%;
	transform: translate(-50%,-50%);
}

.main-content-header2{
	font-size: 15px;
	font-style: bold;
	width:650px;
	position: absolute;
	top:82%;
	left:70%;
	transform: translate(-50%,-50%);

}

.image-head1{
	width:650px;
	position: absolute;
	top:40%;
	left:80%;
	transform: translate(-50%,-50%);
	
}


.img-ppl1{
	border:2px solid #fff;
	box-shadow: 10px 10px 5px #ccc;
	 -moz-box-shadow: 10px 10px 5px #ccc;
	  -webkit-box-shadow: 10px 10px 5px #ccc;
	   -khtml-box-shadow: 10px 10px 5px #ccc;
	   -moz-border-radius:25px;
	   -webkit-border-radius:25px;
	    border-radius:25px;
}

.image-head2{
	width:650px;
	position: absolute;
	top:25%;
	left:80%;
	transform: translate(-50%,-50%);
}

.image-head3{
	width:650px;
	position: absolute;
	top:82%;
	left:40%;
	transform: translate(-50%,-50%);
}
.img-ppl2{
	width:130px;
	height:130px;
	border:2px solid #fff;
	box-shadow: 10px 10px 5px #ccc;
	 -moz-box-shadow: 10px 10px 5px #ccc;
	  -webkit-box-shadow: 10px 10px 5px #ccc;
	   -khtml-box-shadow: 10px 10px 5px #ccc;
	   -moz-border-radius:25px;
	   -webkit-border-radius:25px;
	    border-radius:25px;
}

.dotted1{

	width:650px;
	position: absolute;
	top:63%;
	left:50%;
	transform: translate(-50%,-50%);

}




h1{
	color:#000;
	font-size: 240%;
	word-spacing: 5px;
	letter-spacing: 3px;
	margin-bottom: 20px;
	font-weight: lighter;


}

.btn{
	display: inline-block;
	padding: 10px 30px;
	font-weight: :lighter;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 200px;

	transition: backgroud-color 0.2s,border 0.2s, color 0.2s;

}
.btn-full{
	background-color: transparent;
	color:#000;
	margin-right: 15px;/*for making th right side button move further away of i add one*/
	border: 1px solid #fff;
}
.btn-full:hover{
	background-color: #bf55ec;
}
.btn-nav{
	background-color:transparent ;
	color:#000;
	border: 1px solid #fff;

}
.btn-nav:hover{
	background-color: #bf55ec;
}
.colorchange{
	animation: colorchangethapa 1s infinite;

}
@keyframes colorchangethapa{
	0%{color: red;}
	25%{color:#bf55ec;}
	50%{color:white;}
	100%{color:#bf55ec;}
}